body {
  font-family: "Merriweather", serif;
}

h1 {
  font-weight: 100;
  font-size: 24px;
  font-family: "Merriweather", serif;
  color: #878787;
  height: 27.77778px;
  line-height: 28.8px;
  padding: 30px auto;
  position: relative;
}

h2,
h4,
h5,
p {
  font-family: "Merriweather", serif;
  font-size: 9px;
}

img {
  margin: 0;
  padding: 0px;
  text-align: center;
}

footer {
  font-size: 10px;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  display: block;
}

form {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin-top: 4px;
  color: #8064e9;
  padding: 30px auto;
  display: block;
}

.weather-app {
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  display: block;
}

.button {
  border-radius: 25px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  margin: 0 auto;
  line-height: 15px;
  padding: 8px 12px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.button:hover {
  cursor: pointer;
  background: #5e41a7;
}

.card {
  display: inline-block;
}

.header {
  margin: 20px 0;
  display: block;
  position: relative;
  top: 60px;
}

.current {
  margin: 10px;
  position: relative;
  top: 60px;
}

.next {
  margin-top: 40px;
}

.text-muted {
  font-size: 8px;
}

.form-check {
  font-size: 12px;
}

.card-info {
  font-size: 8px;
  opacity: 90;
}
.card-wind {
  font-size: 8px;
  opacity: 90;
}
.card-humidity {
  font-size: 8px;
}

.card-body {
  text-align: center;
  line-height: 0.5em;
}

#current-time {
  font-size: 10px;
  margin: auto;
}

#temp-form {
  font-size: 11px;
}

#city-form {
  text-align: right;
}

#current-form {
  text-align: left;
}

#current-left {
  position: relative;
  top: 40px;
}

#current-right {
  text-align: center;
  font-size: 12px;
  position: relative;
  top: -15px;
  padding: 0;
  line-height: 0.5em;
}

#forecast {
  text-align: center;
  display: inline-block;
}
